<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/SUPERVISOR/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js"></script>
    <link rel="stylesheet" href="/static/SUPERVISOR/css/home.css">
    <script src="/static/SUPERVISOR/js/home.js"></script>
    <title>home</title>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Django-Red</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">File</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="new_script()">New script</a>

                        <div id="delete_script" style="display: none;">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="delete_script()">Delete script</a>
                        </div>

                        <div id="import_script" style="display: none;">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal"
                                data-target="#Modal_Import_Script">Import script</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown" id="run_script_function" style="display: none;">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Script</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="run_script('start')">Start</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" onclick="run_script('restart')">Restart</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" onclick="run_script('stop')">Stop</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" onclick="run_script('status')">Status</a>
                    </div>
                </li>


            </ul>
            <div class="form-inline my-2 my-lg-0">
                <input id="keyword" class="form-control mr-sm-2" type="text" placeholder="Search">
                <button type="button" onclick="search()" class="btn btn-secondary my-2 my-sm-0">Search</button>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div id="json_data" style="display: none;">{{json_data}}</div>
        <div class="row">
            <div class="col-lg-2">
                <label for="sel_script">Script list:</label>
                <select onclick="select_script()" multiple class="form-control bg-dark text-white script_list"
                    id="sel_script" name="sel_script">
                    {% for row in Script_List %}
                    <option>{{row}}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="col-lg-10">
                <form id="uploadForm" action="" method="post" style="display: none" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="CodeTitle" id="CodeTitle">
                    <textarea name="code" id="CodeContent" cols="50" rows="30"></textarea>
                </form>
                <label>Script name: <strong id="Script_name"></strong> </label>
                <div id="CodePanel"># Put code on here...</div>
                <button type="button" class="btn btn-secondary" onclick="upload()">save</button>
            </div>
        </div>

    </div>

    <!-- model -->

    <!-- The Modal -->
    <div class="modal fade" id="Modal_Import_Script">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/SUPERVISOR/API_Read_Script/" method="post" id="Import_Script_Form" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Import Script</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="w-100">
                            <tr>
                                <td><label for="import_script_name">Script name:</label></td>
                                <td><input type="text" name="CodeTitle" id="import_script_name"></td>
                            </tr>
                            <tr>
                                <td><label>Script file:</label></td>
                                <td>
                                    <!-- <label class="btn btn-primary" for="file">Select Python File...</label> -->
                                    <!-- <input id="file" type="file" name="file" required="" style="display: none;"> -->
                                    <input id="" type="file" name="ScriptFile" required="">
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit">save1</button>
                        <button type="button" class="btn btn-info" onclick="import_script()">Save</button>
                        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>