<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/SUPERVISOR/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>

    <script>
        $(document).ready(function () {
            $("#start").click();
        });
        
    </script>
    <button id="start" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="display:none;">
        Open modal
    </button>
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Django-Red</h4>
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="" method="POST" id="login-form" class="form-signin">
                        {% csrf_token %}
                        <div class="container-fluid">
                            <div class="conter">
                                <div class="row" style="margin-top:10px;position: relative;left: 70px;">
                                    <div class="form-group">
                                        <label for="" style="font-size: 24px">帳 號 : </label>
                                        <label style="margin-left: 12px">
                                            <input type="text" class="form-control"
                                                style="width: 220px;margin-left:10px" id="pwd" name="username" autofocus
                                                maxlength="254" placeholder="請輸入帳號">
                                        </label>
                                        <br>
                                        <label for="" style="font-size: 24px">密 碼 : </label>
                                        <label style="margin-left: 12px">
                                            <input type="password" class="form-control"
                                                style="width: 220px;margin-left:10px" id="pwd" name="password"
                                                placeholder="請輸入密碼">
                                        </label>
                                        <input type="submit" class="btn btn-primary" value="登 入" name="login" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

                <!-- Modal footer -->
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div> -->

            </div>
        </div>
    </div>
</body>

</html>